.projects {
  padding: 50px 0;
  background-color: white;
  text-align: center;
}

.projects .projectRowWrapper {
  margin-bottom: 40px;
}

.projects .moreProjectsButton {
  font-size: 22px;
  padding: 6px 30px;
  border: none;
  border-radius: 10px;
  background-color: var(--dark-blue);
}

.projects .moreProjectsButton:hover {
  background-color: var(--blue);
}

@media (max-width: 767px) {
}
