.switch-wrapper {
    position: relative;
}

.switch-wrapper > div {
    position: absolute;
}

.navBar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    list-style-type: none;
    height: var(--navBar-height);
    z-index: 3;
    border-bottom: 3px var(--blue) solid;
    user-select: none;
}

.navBar .navBarContainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 55%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.navBar .logo {
    font-family: var(--font2);
    float: left;
    font-weight: bolder;
}

.navBar .navBarRight {
    margin: 0;
    padding: 0;
    text-align: right;
}

.navBar .navBarRight li {
    margin-left: 15px;
}

.navBar .navItem {
    display: inline;
}

.navBar .navItem a {
    display: inline-block;
    color: white;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

.navBar .navItem a:hover {
    transform: scale(1.1);
}

.navBar .navItemActive {
    color: var(--blue) !important;
    font-weight: bolder;
}
