.navBar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    list-style-type: none;
    height: var(--navBar-height);
    z-index: 3;
    border-bottom: 3px var(--blue) solid;
    user-select: none;
}

.navBarContainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 55%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.logo {
    font-family: var(--font2);
    float: left;
    font-weight: bolder;
}

.navBarRight {
    margin: 0;
    padding: 0;
    text-align: right;
}

.navBarRight li {
    margin-left: 15px;
}

.navItem {
    display: inline;
}

.navItem a {
    display: inline-block;
    color: white;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

.navItem a:hover {
    transform: scale(1.1);
}

.navItemActive {
    color: var(--blue) !important;
    font-weight: bolder;
}

.footer {
    padding: 20px;
    background-color: black;
    color: gray;
    text-align: center;
    z-index: 3;
}

.footerIcon {
    display: inline-block;
    color: gray;
    padding: 0 35px;
    font-size: 30px;
    transition: all 0.1s ease-in-out;
}

.footerIcon:hover {
    color: var(--blue);
    transform: scale(1.2);
}

.footerCopyright {
    padding-top: 10px;
}

@media (max-width: 575px) {
    .footerIcon {
        padding: 0 24px;
        font-size: 25px;
    }
}
