/* .skills .skillTitle {
    margin: 5px 15px 0 15px;
    text-align: center;
    border-bottom: 1px solid var(--black);
}

.skills .skillRow {
    padding: 10px 10px 0 10px;
}

.skills .skillBlock {
    text-align: center;
    font-size: 11px;
}

.skills .skillIcon {
    max-width: 100%;
    height: 40px;
    padding-bottom: 5px;
}

@media (max-width: 575px) {
    .projects .skillIcon {
        height: 35px;
    }
} */
