.projectCard {
  border: 4px solid var(--blue);
  position: relative;

  border-radius: 10px;
  background-color: var(--blue);

  overflow: hidden;
}

.projectCard .cardImage {
  border-radius: 8px;
  width: 100%;

  transition: transform 0.7s;
}

.projectCard:hover .cardImage {
  transform: translateY(-15%);
}

.projectCard .cardBlur {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0;
  transition: opacity 0.15s ease-in;
}

.projectCard:hover .cardBlur {
  opacity: 0.4;
}

.projectCard .cardButtons {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  /* background-color: red; */
  margin: 10px;

  transform: translateY(-150%);
  transition: transform 0.5s;
}

.projectCard:hover .cardButtons {
  transform: translateY(0px);
}

.projectCard .cardButtons .cardButton {
  cursor: pointer;
  font-size: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: white;
  color: var(--blue);
  transition: 0.15s ease-in;

  display: flex;
  align-items: center;
  justify-content: center;
}

.projectCard .cardButtons .cardButton:hover {
  background-color: var(--blue);
  color: white;
}

.projectCard .cardFooter {
  cursor: pointer;
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 70%;

  background-color: white;
  padding: 12px;
  overflow-y: scroll;

  transform: translateY(100%);
  transition: transform 0.5s;
}

.projectCard:hover .cardFooter {
  transform: translateY(0px);
}

.projectCard .cardFooter .cardTitle {
  font-size: 24px;
}

.projectCard .cardFooter .cardDescription {
  font-size: 16px;
}

.projects2 {
  margin-top: var(--header-height);
  padding: 10px 0px;
  background-color: white;
  font-size: 20px;
}

.projects2 .projectsGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}

.projects2 .projectCardWrapper {
  grid-column: span 3;
}

.projects2 .projectCardWrapper-large {
  grid-column: span 3;
}
