.about {
    padding: 50px 0 50px 0;
    background-color: var(--gray);
    color: var(--black);
    font-size: 20px;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.about .container {
    display: flex;
}

/* AboutNav */
.about .container {
    display: block;
}
.about .aboutNav {
    user-select: none;
    margin: 0 0 10px 0;
}
.about .aboutNavButton {
    cursor: pointer;
    display: inline-block;
    text-align: left;
    padding: 5px 10px;
    border-bottom: 4px solid var(--dark-gray);
}
.about .aboutNavButton:hover {
    background-color: var(--dark-gray);
}
.about .aboutNavButtonActive {
    color: var(--blue);
    font-weight: bold;
    border-bottom: 4px solid var(--blue);
}

.about .nextButtonRow {
    text-align: right;
}
.about .nextButtonRow > svg {
    font-size: 40px;
    cursor: pointer;
}

/* Intro */

.about .portrait {
    width: 100%;
}

.about .aboutIntro {
    font-size: 22px;
}

/* Showcase */

.about .showcaseSection {
    text-align: center;
    margin: 0px 0 30px 0;
}

.about .experienceImage,
.about .projectsImage {
    width: 40%;
}

.about .showcaseButton {
    margin-top: 25px;
    font-size: 22px;
    padding: 3px 20px;
    border-radius: 20px;
}

.about .aboutQuote {
    padding: 20px 5%;
    margin: 15px auto;
    font-size: 20px;
    border-top: 3px solid var(--blue);
    border-bottom: 3px solid var(--blue);
    width: 90%;
}
.about .aboutQuote .fa-quote-left {
    margin-right: 12px;
}
.about .aboutQuote .fa-quote-right {
    margin-left: 12px;
}
.about .aboutQuote .aboutQuoteName {
    text-align: right;
    padding-top: 5px;
    font-size: 18px;
    font-style: italic;
}
.about .aboutQuote .aboutQuoteName svg {
    margin-left: 5px;
}

@media (max-width: 991px) {
    .about {
        font-size: 18px;
    }

    /* Intro */
    .about .aboutIntro {
        font-size: 18px;
    }

    /* Showcase */
    .about .showcaseSection {
        margin: 20px 0;
    }

    .about .aboutQuote {
        width: 100%;
    }
}

@media (max-width: 767px) {
    /* Intro */
    .about .portrait {
        width: 50%;
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .about .nextButtonRow > svg {
        font-size: 35px;
    }
}
