.about {
    padding: 40px 0 40px 0;
    background-color: var(--gray);
    color: var(--black);
    font-size: 20px;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.about .container {
    display: flex;
}

/* Sidenav */
.about .sideNav {
    user-select: none;
    margin-right: 20px;
}

.about .sideNavButton {
    cursor: pointer;
    text-align: right;
    padding: 10px 10px;
    border-right: 4px solid var(--dark-gray);
}
.about .sideNavButton:hover {
    background-color: var(--dark-gray);
}
.about .sideNavButtonActive {
    color: var(--blue);
    font-weight: bold;
    border-right: 4px solid var(--blue);
}

.about .content {
    flex: 1; /* Width is 100% minus sideNav width */
}

/* Intro */
.about .portrait {
    padding-bottom: 10px;
    text-align: center;
}
.about .portrait img {
    width: 100%;
    max-width: 400px;
}

.about .aboutIntro {
    font-size: 22px;
}

.about .aboutButtons {
    text-align: right;
    margin-top: 10px;
}

.about .aboutButton {
    font-size: 20px;
    padding: 3px 15px;
    border-radius: 5%;
    margin: 0 20px;
}

@media (max-width: 991px) {
    .about {
        font-size: 18px;
    }

    /* Make sidenav horizontal */
    .about .container {
        display: block;
    }
    .about .content {
        flex: none;
    }
    .about .sideNav {
        margin: 0 0 10px 0;
    }
    .about .sideNavButton {
        display: inline-block;
        text-align: left;
        padding: 5px 10px;
        border-right: none;
        border-bottom: 4px solid var(--dark-gray);
    }
    .about .sideNavButtonActive {
        border-right: none;
        border-bottom: 4px solid var(--blue);
    }

    /* Intro */
    .about .portrait img {
        width: 50%;
    }

    .about .aboutIntro {
        font-size: 18px;
    }

    .about .aboutButton {
        margin: 0 10px;
    }
}
