.skills .skillRow {
}

.skills .skillCategory {
    font-weight: bold;
    border-bottom: 1px solid var(--black);
    margin-bottom: 10px;
}

.skills .skillBlock {
    text-align: center;
    font-size: 12px;
    padding-bottom: 5px;
}

.skills .skillIcon {
    width: 40%;
    padding-bottom: 5px;
}

@media (max-width: 991px) {
    .skills .skillIcon {
        width: 50%;
    }
}
