.loadingScreen {
    background-color: var(--light-blue);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.spinner {
    font-size: 100px;
    color: var(--blue);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.gone {
    display: none;
}

.home {
    color: black;
    background-color: white;
}

.home .landingScreen {
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home .backgroundVideoWrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.home .backgroundVideoWrap video {
    min-width: 100%;
    min-height: 100%;
}

.home .videoOverlay {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
    background: white;
    opacity: 0.3;
}

.home .landingContent {
    padding-bottom: 100px;
    width: 70%;
    z-index: 2;
}

.home .landingTitle {
    font-family: var(--font2);
    font-size: 80px;
    font-weight: bolder;
}

.home .landingSubtitle {
    font-family: var(--font2);
    font-size: 25px;
}

.home .landingButtons {
    padding-top: 30px;
    width: 85%;
    margin: 0 auto;
}

.home .landingButton {
    font-size: 20px;
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 5%;
}

.home .landingArrow {
    font-size: 50px;
    animation: MoveUpDown 1s linear infinite;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}

.home .landingArrow button {
    color: black;
    background: none;
    border: none;
}

.home .landingArrow button:focus {
    outline: none;
}

@keyframes MoveUpDown {
    0%,
    100% {
        bottom: 130px;
    }
    50% {
        bottom: 140px;
    }
}

@media (max-width: 1199px) {
    .home .landingButtons {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .home .landingButton {
        font-size: 18px;
        padding: 5px 15px;
        margin-top: 15px;
    }
}

@media (max-width: 767px) {
    .home .landingTitle {
        font-size: 60px;
    }
}

@media (max-width: 575px) {
    .home .landingContent {
        width: 90%;
    }

    .home .landingTitle {
        font-size: 48px;
    }

    .home .landingSubtitle {
        font-size: 22px;
    }
}

@media (max-height: 715px) {
    .home .landingContent {
        padding-bottom: 0;
    }

    .home .landingArrow {
        visibility: hidden;
    }
}
