.header {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 16px;
  background-color: var(--black);
  height: var(--header-height);
  z-index: 3;
  border-bottom: 3px var(--blue) solid;
  user-select: none;

  display: flex;
  align-items: center;
}

.header .headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  font-family: var(--font2);
  color: white;
  font-weight: bold;
  white-space: nowrap;
}

.header .navItem {
  background-color: transparent;
  color: white;
  border: none;
}

.header .navItem:focus {
  outline: 0;
}

.header .navItem:not(:last-child) {
  margin-right: 20px;
}

.header .navItem div {
  border-bottom: 3px solid transparent;
}

.header .navItem:focus div {
  border-bottom: 1px solid var(--dark-blue);
}

.header .headerContent .navItem-active div {
  transition: all 0.15s ease-in-out;
  border-bottom: 3px solid var(--blue);
}

@media (max-width: 575px) {
  .header .navItem {
    font-size: 13px;
  }
  .header .navItem:not(:last-child) {
    margin-right: 5px;
  }
}
