.experience {
    margin-top: var(--navBar-height);
    background-color: white;
    padding: 10px 0;
    color: black;
    font-size: 20px;
}

.experience .experienceRow {
    background-color: var(--smoke);
    padding: 20px;
    margin: 10px 0 20px 0;
}

.experience .experienceRow:hover {
    background-color: var(--light-blue);
}

.experience .experienceRowTitle {
    font-size: 30px;
    text-decoration: none !important;
    color: inherit;
}
.experience .experienceRowTitle:hover {
    color: inherit;
}

.experience .experienceRowRight {
    position: relative;
}

.experience .experienceImage {
    max-width: 65%;
    max-height: 65%;

    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media (max-width: 991px) {
    .experience .experienceImage {
        max-width: 70%;
        max-height: 70%;
    }
}

@media (max-width: 767px) {
    .experience {
        font-size: 17px;
    }

    /* Remove vertical centering */
    .experience .experienceRow {
        text-align: center;
    }

    .experience .experienceImage {
        max-height: 120px;

        position: relative;
        left: auto;
        top: auto;
        transform: none;
    }
}

@media (max-width: 575px) {
    .experience {
        font-size: 15px;
    }
    .experience .experienceRowTitle {
        font-size: 25px;
    }
    .experience .experienceImage {
        max-width: 90%;
    }
}
