.navBar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    list-style-type: none;
    height: var(--navBar-height);
    padding-top: 8px;
}

.logo {
    float: left;
    font-weight: bold;
}

.navBarRight {
    margin: 0;
    padding: 0;
    text-align: right;
}

.navItem {
    display: inline;
    margin: 0 10px;
}

.navItem a {
    color: white;
    text-decoration: none;
}

.navItem a:hover {
    color: var(--primary-color);
}
