@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

:root {
    --light-blue: #eef7fa;
    --blue: rgb(70, 120, 160);

    --smoke: #f0f0f0;
    --gray: #e8e8e8;

    --font1: 'Lato', sans-serif;
    --font2: 'Poppins', sans-serif;

    --navBar-height: 45px;
    --footer-height: 100px;
}

body,
html {
    background-color: black;
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: var(--font1);
    scroll-behavior: smooth;
}

button {
    background-color: black;
    border: 1px black solid;
    color: white;
    transition: all 0.1s ease-in-out;
}

button:focus {
    outline: none;
}

button:hover {
    transform: scale(1.1);
}

.tag {
    display: inline-block;
    font-size: 12px;
    border-radius: 8px;
    padding: 3px 6px;
    margin: 3px 6px 3px 0;
    cursor: default;
}

.languageTag {
    background-color: lightsalmon;
}

.toolTag {
    background-color: lightblue;
}

.blueLink {
    color: blue !important;
}

@media (max-width: 575px) {
    .tag {
        font-size: 10px;
        border-radius: 8px;
        padding: 1px 6px;
    }
}
